@import "../styles/comps";
.content{
    padding: 1em 2em;
    width: 90%;
    margin: 0 auto;
}
.contentWrapper{
    text-align: center;
    
}
.page{
    margin: 0 auto;
    overflow-x: hidden;
    background-color: $default_bg;
    color: $text;
}
.search{
    width: 100%;
    position: relative;
    margin-top: 40px;
    input{
        font-size: 18px;
        &:focus{
            outline: none;
        }
    }
    button{
        @extend .button;
        border-radius: 5px;
    }
}
.serach_cont{
    text-align: center;
    position: relative;
}
.search_type_cont{
    margin: 1em auto 0 auto;
    width: 100%;
}
.postsButton{
    margin-right: 10px;
}
.profilesButton{
    margin-left: 10px;
}
.selectedButton{
    @extend .default_button;
}
.search_button{
    @extend .default_button;
}

.genreSelect{
   
    position: absolute;
    right: 0;
    margin-right: 5em;
    top: 0;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    select{
        padding: 2px 10px;
        margin-left: 15px;
    }
}
@media only screen and (max-width: 550px) {
    .search_type_cont{
        width:100%;
    }
    .contentWrapper{
        width: 100%;
    }
    .content{
        padding: 0;
    }
}

@media only screen and (max-width:769px) and (min-width:551px) {
    .search_type_cont{
        width:100%;
    }
    .contentWrapper{
        width: 100%;
    }
    .content{
        padding: 0;
    }
}
@media only screen and (max-width:1024px) and (min-width:770px) {
    .heading{
        width: 70%;
        h1{
            font-size: 50px;
        }
    }
}
@media only screen and  (min-width:1600px) {

}
  