@import "../styles//comps";
// Me page
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    flex-wrap: wrap;
    background-color: $default_bg;
    color: $text;
}
.heading{
    display: block;
    font-size: 24px;
    width: 100%;
    text-align: center;
    h3{
        width: 70%;
        font-size: 16px;
        margin: 10px auto 0 auto;
        font-weight: 500;
    }
}

.collabs{
    margin: 1em auto;
    width: 80%;
    display: block;
    padding: 1em;
    h2{
        margin-bottom: 1em;
    }
}
.collabRequestsRecieved{
    margin-bottom: 2em;
}
.myCollabs{
    width: 80%;
}
.myCollabsLink {
    text-align: center;
    padding-bottom: 1.5em;
    a{
        @extend .default_button;
        font-weight: 400;
        font-size: 18px;
        padding: 10px 10px;
    }
}
// Indiviudal page
.content{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 2em;
}
.collabSection{
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 550px) {
    .heading{
        font-size: 16px;
        h3{
            font-size: 12px;
        }
    }
}

@media only screen and (max-width:769px) and (min-width:551px) {
    
}
@media only screen and (max-width:1024px) and (min-width:770px) {
 
}
@media only screen and  (min-width:1600px) {

}
  