@import "../styles//comps";

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    flex-wrap: wrap;
}
.heading{
    display: block;
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;

}
.content{
    margin: 0 auto;
    text-align: center;
}

.editPostButton{
    @extend .default_button;
    padding: 10px;
    margin-right: 15px;
}
.removePostButton{
    @extend .button;
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 10px;

}
.genre{
    background-color: $genre_grey;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    display: inline-block;
}

// Edit Post
.form {
    label{
        display: block;
        margin: 5px 0;
    }
    textarea, input{
        resize: none;
        display: block;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
    }
    button{
        @extend .default_button
    }
   width: 40%;
}

.startCollab{
    @extend .default_button;
    padding: 10px;
    margin: 0 auto;
}
.endCollab{
    @extend .button;
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 10px;

}
