@import "../styles//comps";

.page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
    background-color: $default_bg;
    color: white;
}
.heading{
    display: block;
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.cont{
    width: 100%;
}
.form {
    margin: 0 auto;

    label{
        display: block;
        margin: 5px 0;
    }
    textarea, input{
        border: 1px solid $grey;
        resize: none;
        display: block;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
    }
    button{
        @extend .default_button
    }
   width: 40%;
}
.genreSelect{
    padding: 2px 10px;
}
@media only screen and (max-width: 550px) {
    .form{
        label{
            margin:15px 0;
        }
    }
}

@media only screen and (max-width:769px) and (min-width:551px) {
    
}
@media only screen and (max-width:1024px) and (min-width:770px) {
 
}
@media only screen and  (min-width:1600px) {

}
  