@import "../../pages/styles/comps.scss";
.postCard{
    position: relative;
    border: 2px solid $grey;
    padding: 1em;
    border-radius: 5px;
    margin: 2em auto;
    width: 27%;
    display: inline-block;
    margin: 1em;
    box-sizing: border-box;
    background-color: $second_bg;

}
.acceptButton, .denyButton{
    @extend .button;
    background-color: $blue;
    color: white !important;
    border-radius: 15px;
    padding: 12px 10px;
    margin-top: 30px;
}
.denyButton{
    margin-left: 10px;
    background-color: red;
}
.profileLink{
    color: $blue;
    cursor: pointer;
    display: block;
    // text-align: center;
    margin-top: 20px ;
    &:hover{
        text-decoration: underline;
    }
}
.flexCardHeader{
    text-align: center;
    margin:10px 0px 1.5em 0;
    h3{
        cursor: pointer;

        margin-bottom: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.genre{
    background-color: $genre_grey;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
}
.description{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 550px) {
    .postCard{
        width: 100%;
        margin: 2em 0;
    }

}
  

@media only screen and (max-width:769px) and (min-width:551px) {
    .postCard{
        width: 40%;
        margin: 2em 1em;
    }

}
@media only screen and (max-width:1024px) and (min-width:770px) {
    .heading{
        width: 70%;
        h1{
            font-size: 50px;
        }
    }
}
@media only screen and  (min-width:1600px) {

}
  