
@import "../../pages/styles/comps.scss";
.search{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    input{
        font-size: 18px;
        &:focus{
            outline: none;
        }
    }
    button{
        @extend .default_button
    }
}