@import "../../pages/styles/comps.scss";

.navbar{
    background: $default-bg;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 0px 14px 202px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 202px -18px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 202px -18px rgba(0,0,0,0.75);
    position: fixed;
    width: 100%;
    height: 105px;
    z-index: 10;
}
.linksList{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: $default-bg;
    padding-left: 0;
    li{
        font-size: 16px;
        padding: 15px 5px;
        white-space: nowrap;
        margin: 0 1em;
    }
    a{
        color: white;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}

.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.getKloudButton{
    a{
        @extend .button;
        background-color: $blue;
        color: white !important;
        border-radius: 15px;
        padding: 12px 10px;
    }
    padding: 0;
}
.logo{
    font-weight: 600;
    a{
        font-size: 20px ;
    }
    img{
        width: 50px;
        margin-bottom: -10px;
    }
}
.active{
    display: block;
}

/* Tablet menu */
@media all and (min-width: 600px) {
    .linksList {
        justify-content: center;

    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
   
}
 /* Desktop menu */
@media all and (min-width: 900px) {
    .item {
        display: block;
        width: auto;
        order: 1;
        margin-bottom: -25px !important;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .navbar{
        -webkit-box-shadow: 0px 34px 202px -18px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 34px 202px -18pxx rgba(0,0,0,0.75);
        box-shadow: 0px 34px 202px -18px rgba(0,0,0,0.75);
    }
    .linksList  {
        margin-right: 6em;
        li{
            padding: 15px 10px 15px 10px;
        }
        
    }

}