@import "../../pages/styles/comps.scss";
.friendReqCard{
    position: relative;
    border: 2px solid $grey;
    padding: 1em;
    border-radius: 5px;

}
.acceptButton, .denyButton{
    @extend .button;
    background-color: $blue;
    color: white !important;
    border-radius: 15px;
    padding: 12px 10px;
    margin-top: 30px;
}
.denyButton{
    margin-left: 10px;
    background-color: red;
}
.profileLink{
    color: $blue;
    &:hover{
        text-decoration: underline;
    }
}
.flexCardHeader{
    display: flex;
    justify-content: space-between;
    h3{
        color:$text;
        cursor: pointer;
        margin-bottom: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.bio{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.profileCard{
    position: relative;
    border: 2px solid $grey;
    padding: 1em;
    border-radius: 5px;
    margin: 2em auto;
    width: 27%;
    display: inline-block;
    margin: 1em;
    background-color: $second_bg;
    box-sizing: border-box;
}

.input_group{
    font-size: 16px;
    background-color: white;
    padding:5px;
    color: black;
    input{
        font-size: 16px;
        outline: none;
        border:none;
        display: inline-block;
        width: 50% !important;
    }
}
@media only screen and (max-width: 550px) {
    .profileCard{
        width: 100%;
        margin: 2em 0;
    }

}
  

@media only screen and (max-width:769px) and (min-width:551px) {
    .profileCard{
        width: 40%;
        margin: 2em 1em;
    }

}
@media only screen and (max-width:1024px) and (min-width:770px) {
    .heading{
        width: 70%;
        h1{
            font-size: 50px;
        }
    }
}
@media only screen and  (min-width:1600px) {

}
  