@import "../../pages/styles/comps.scss";
.friendReqCard{
    position: relative;
    border: 2px solid $grey;
    padding: 1em;
    border-radius: 5px;

}
.acceptButton, .denyButton{
    @extend .button;
    background-color: $blue;
    color: white !important;
    border-radius: 15px;
    padding: 12px 10px;
    margin-top: 30px;
}
.denyButton{
    margin-left: 10px;
    background-color: red;
}
.profileLink{
    color: $blue;
    &:hover{
        text-decoration: underline;
    }
}
.flexCardHeader{
    display: flex;
    justify-content: space-between;
    h3{
        cursor: pointer;
        margin-bottom: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.bio{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.profileCard{
        position: relative;
        border: 2px solid $grey;
        padding: 1em;
        border-radius: 5px;
        margin: 2em auto;
        width: 27%;
        display: inline-block;
        margin: 1em;
}