// colors
$blue : #4b72f3 ;
$grey : #aaacae ;
// $text : #2c2d2e;
$text:white;
// $default-bg : #f3f4f5;
$default-bg : #222629;
$genre_grey: #8a8a8a;
$second_bg : #1A1A1A;
$green : #15E61C;

.button{
    border:none;
    padding:5px 10px;
    cursor: pointer;
    font-size: 16px;
    &:focus, &:active{
        outline: none;
        zoom: 0;
    }
    &:hover{
        outline: none;
        transform: none;
    }
    font-family: 'Montserrat', sans-serif;
}
.default_button{
    @extend .button;
    background-color: $blue;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}
.input{
        width: 100%;
        margin:10px auto;
        padding: 5px 5px;
        font-size: 16px;
        &:hover{
            outline: none;
        }
}
.error{
    color: red;
    margin: 5px 0;
    font-size: 14px;
    display: block;
}