h1, h2, h3, h4, h5, div, span, a, button, body, html{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body, html{
    height: 100%;
}
#__next{
    height: 100%;
}
a{
    cursor: pointer;
}