@import "../styles//comps";

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.content{
    text-align: center;
    width: 75%;
    padding: 4em 0;
}
.heading{
    font-size: 2.5em;
    margin-bottom:0.75em;
}

@media only screen and (max-width: 550px) {
    .content{
        text-align: center;
        width: 85%;
        padding: 1em 0;
    }
    
}

@media only screen and (max-width:769px) and (min-width:551px) {
    
}
@media only screen and (max-width:1024px) and (min-width:770px) {
 
}
@media only screen and  (min-width:1600px) {

}
  