@import "../styles//comps";
// Me page
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
    height: calc(100% - 110px);
    // overflow-y: hidden;
}
.heading{
    display: block;
    font-size: 30px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid $grey;
}
.chatContainer{
    width: 100%;
    display: flex;
    // flex-flow: row;
    height: 100%;
}
.leftBar{
    width: 30%;
    border-right: 1px solid $grey;
    overflow-y: scroll;
    // flex: 1 1 auto;
    display: inline-block;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.personToChat{
    border-bottom: 1px solid $grey;
    padding:2em;
}
.newConversation{
    position: absolute;
    @extend .default_button;
    bottom:0;
    margin: 0 auto;
    width: 100%;
    border-radius: 0;
    padding: 10px 5px;
}
.chat{
    width: 100%;
    position: relative ;
    
    .input_group{
        position: absolute;
        bottom: 0;
        margin:0;
        width: calc(100% - 20px);
        background-color: white;
        z-index: 1;
        .messageInput{
            @extend .input;
            width:  75%;
            margin:0;
            border: 1px solid $grey;
            border-right: none;
        }
        button{
            width: 10%;
            // @extend .button
            padding: 5px 15px;
            font-size:16px;
        }
    }
}



.close {
    color: #aaa;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  .selectedConvo{
    background-color: $blue;
    color: white;
  }

